apiVersion: kro.run/v1alpha1
kind: ResourceGraphDefinition
metadata:
  name: treasure-graph
  annotations:
    argocd.argoproj.io/sync-wave: "-1"
spec:
  schema:
    apiVersion: v1alpha1
    kind: Treasure
    group: game.k8s.example
    spec:
      dungeonName: string | required=true
      opened: integer | default=0
    status:
      treasureState: "${treasureState.data.state}"
      loot: "${treasureState.data.loot}"

  resources:
    - id: treasureState
      template:
        apiVersion: v1
        kind: ConfigMap
        metadata:
          name: "${schema.spec.dungeonName + '-treasure-state'}"
          namespace: ${schema.metadata.namespace}
          labels:
            game.k8s.example/dungeon: ${schema.spec.dungeonName}
            game.k8s.example/entity: treasure
        data:
          state: "${schema.spec.opened == 1 ? 'opened' : 'unopened'}"
          loot: "${schema.spec.opened == 1 ? 'Treasure code: ' + schema.spec.dungeonName + '-LOOT' : ''}"

    - id: treasureSecret
      template:
        apiVersion: v1
        kind: Secret
        metadata:
          name: "${schema.spec.dungeonName + '-treasure'}"
          namespace: ${schema.metadata.namespace}
          labels:
            game.k8s.example/dungeon: ${schema.spec.dungeonName}
            game.k8s.example/entity: treasure
        stringData:
          loot: "${'Treasure code: ' + schema.spec.dungeonName + '-LOOT'}"
